<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>filterInfoActividad</filter-name>
        <filter-class>filterInfoActividad</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterInfoActividad</filter-name>
        <servlet-name>VerActividadInfo</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>controlador.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controlador.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Institucion</servlet-name>
        <servlet-class>controlador.Institucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprarClase</servlet-name>
        <servlet-class>controlador.ComprarClase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>controlador.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInfo</servlet-name>
        <servlet-class>controlador.EditInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>puntuarProfesor</servlet-name>
        <servlet-class>controlador.puntuarProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getValoracionProfesor</servlet-name>
        <servlet-class>controlador.getValoracionProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorPuntuacionesDTO</servlet-name>
        <servlet-class>customsDtos.ProfesorPuntuacionesDTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPuntuacionesByProfesor</servlet-name>
        <servlet-class>controlador.getPuntuacionesByProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPuntuacionGeneralByClass</servlet-name>
        <servlet-class>controlador.getPuntuacionGeneralByClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerActividadInfo</servlet-name>
        <servlet-class>controlador.VerActividadInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClaseById</servlet-name>
        <servlet-class>controlador.ClaseById</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>actividadesInfo</servlet-name>
        <servlet-class>controlador.actividadesInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCuponeras</servlet-name>
        <servlet-class>controlador.ListarCuponeras</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarCuponeras</servlet-name>
        <url-pattern>/listarCuponeras</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InfoCuponera</servlet-name>
        <servlet-class>controlador.InfoCuponera</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InfoCuponera</servlet-name>
        <url-pattern>/InfoCuponera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actividadesInfo</servlet-name>
        <url-pattern>/actividadesInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/files/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Institucion</servlet-name>
        <url-pattern>/Institucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInfo</servlet-name>
        <url-pattern>/EditInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprarClase</servlet-name>
        <url-pattern>/ComprarClase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>puntuarProfesor</servlet-name>
        <url-pattern>/puntuarProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getValoracionProfesor</servlet-name>
        <url-pattern>/getValoracionProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesorPuntuacionesDTO</servlet-name>
        <url-pattern>/ProfesorPuntuacionesDTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPuntuacionesByProfesor</servlet-name>
        <url-pattern>/getPuntuacionesByProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPuntuacionGeneralByClass</servlet-name>
        <url-pattern>/getPuntuacionGeneralByClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerActividadInfo</servlet-name>
        <url-pattern>/verActividadInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClaseById</servlet-name>
        <url-pattern>/claseById</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30 
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <filter-mappping>
        <filter-name>filterSocioInActividad</filter-name>
        <filter-class>filterSocioInActividad</filter-class>
    </filter-mappping>
</web-app>
